.top_bar {
    background-color: #eee;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

nav {
    position: fixed;
    padding-left: 10px;
    padding-right: 60px;
    height: 60px;
    width: 100%;
    text-align: right;
    color: purple;
}

nav h1 {
    display: inline-block;
    float: left;
}

nav ul {
    padding-right: 30px;
    display: inline-block;
    list-style: none;
}

nav li {
    display: inline-block;
    font-size: 1.2em;
    font-family: arial, sans-serif;
    margin-left: 10px;
}

nav li a:link {
    color: purple;
    text-decoration: none;
}

nav li a:hover {
    color: green;
}

.container {
    padding-top: 90px;
    padding: 150px;
}

input[type="text"] {
    width: 350px;
    font-size: 1.5em;
    margin-bottom: 15px;
}

main ul {
  clear: right;
  display: inline-block;

}

main li {
  color: grey;
  display: inline-block;
}

main li a:link {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

main li a {
  padding-left: 15px;
  padding-right: 15px;
}
.m_glass {
  display: inline-block;
  border-radius: 100%;

  font-weight: 800;
}
